tmp/
*.tmp
*.bak
target/
.oracle_jre_usage
build/
out/
.gradle
*-pom.xml

*.class
*.jar
!gradle-wrapper.jar
*.war
*.ear
*.db

Thumbs.db
Desktop.ini

**/*.iml
.idea/*

.project
.metadata
bin/
*.swp
*~.nib
.classpath
.settings/
.externalToolBuilders/
*.launch
